/* COLORS
============================================= */
$greyblue: #252F40;
$lightgreyblue: #2f415f;
$darkblue: #051229;
$deepblue: #00A3FF;
$orange: #FF900D;
$white: #FFFFFF;
$grey: #CDCFE3;


/* TYPOGRAPHY COLORS
============================================= */
$title-primary: $white;
$accent-primary: $orange;
$description-primary: $grey;
$link-primary: $deepblue;

/* MEDIA QUERIES
============================================= */
